<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo Spring Boot</title>
</head>

<body>

    <h3> Olá, bem-vindo(a) ao meu programa em Spring Boot! </h3>

    <h4> Navegação </h4>

    <ul>

        <li><a href="/cadastrarUsuario">Cadastrar Usuario</a></li>
        <li><a href="/editarUsuario">Editar Usuario</a></li>
        <li><a href="/listarUsuario">Listar Usuario</a></li>
        <li><a href="/removerUsuario">Remover Usuario</a></li>

    </ul>


</body>

</html>